.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid rgb(235, 217, 17);
    border-top: 20px solid rgb(61, 229, 226);

   /* animation-name: loader;
   animation-duration: 3s;
   animation-timing-function: ease-in;
   animation-duration: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal; */
   animation:loader 2s ease-out 0s infinite normal

}
@keyframes loader{
    from{
     transform: rotate(0deg);

    }
    to{
      transform: rotate(360deg);

    }
}