*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
   
    text-align: center;
    color: red;
    text-transform: capitalize;
}
p{
    font-family:'Times New Roman', Times, serif;
    color: re;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
   
}